.title {
    font-size: 60px;
}

.sub {
    font-size: 25px;
}
.navbar {
    background-color: #ff8ba7;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar button {
    background-color: #ff8ba7;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 45px;
}

.left {
    position: absolute;
    right: 0;
    height: 50px;
    width: 100px;
}

#imgRow {
    width: 100px;
}

table {
    width: 100%;
}

th {
    border: #ff8ba7;
}

tr {
    background-color: #ff8ba7;
}

#outline {
    outline: thin solid;
    background-color: #ff8ba7;
}