* {
    font-family: monaco,Consolas,Lucida Console,monospace;;
}
body {
    background-color: #faeee7;
}

.navbar {
    background-color: #ff8ba7;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar img {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 45px;
}
#header {
    font-size: 4rem;
    padding:15px
}
.widget {
    background-color: #fffffe;
    font-size: 2rem;
}

.widgetcolor {
    background-color: #ff8ba7;
    padding:1px;
}

.halfwid1 {
    background-color: #fffffe;
    font-size: 2rem;
    flex: 49%;
}

.halfwid2 {
    background-color: #fffffe;
    font-size: 2rem;
    flex: 49%;
}
.content{
    background-color: #fffffe;
}

.widgetcolor p {
    /* padding: 2px; */
    padding-left: 1rem;
    color: #33272a;
}

.user {
    background-color: #ff8ba7;
    padding:15px;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.userHeader {
    font-size: 2rem;
    display:inline;
}
.allergies {
    font-size: 1.5rem;
}
