* {
    font-family: monaco, Consolas, Lucida Console, monospace;
}


#header {
    font-size: 4rem; 
    margin-left: 2%;
    margin-bottom:10%;
    display: inline;
}
body {
    background-color: #faeee7;
}

/* CSS */
.addRecipe {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    margin-left: 21rem;
    padding: 10px;
    padding-right: 1.1rem; 
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-color: #A7C7E7;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

#recipe {
    background-color: #A7C7E7;
    margin-bottom: 1rem;
    border-radius: 1.7rem;
    padding: 1rem;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: flex;
    font-size: 3rem; /* Adjust font size as per your design */
    font-weight: 500;
    outline: none;
    position: relative;
    text-align: center;
    width: 100%; /* Set a specific width for the box */
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    margin-top:5%;
    vertical-align: top; /* Align the text to the top of the box */
}

.text-container {
    flex: 1; /* Allow the text container to grow and take available space */
    padding: 5%; /* Adjust the padding for the text content */
    display: block;
}
  
.text-container.remove
{
    display: none;
}

.recipe-text {
  font-size: 3rem;
}

#allg {
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.description-text {
    display: none;
}
.description-text.show {
    flex: 1;
    text-align: center; 
    display: block;
    font-size: 2rem;
}



.navbar {
  background-color: #A7C7E7;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.navbar img {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 45px;
}
.p-buttons {
  width: 14rem;
  height: 9rem;
  font-size: 3rem;
}

#pop-up {
  position: fixed;
  height: 60rem;
  width: 50rem;
  top: 25%;
  left: 7.5%;
  background-color: #A7C7E7;
  border-color: #fffffe;
  border-width: 1rem;
  border-style: solid;
  border-radius: 2rem;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  z-index:99;
}

#pop-up-prompt {
  font-size: 3rem;
  text-align: center;
  margin-top: 6rem;
}

#pop-up-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.element {
  height: 6rem;
  margin-top: 1rem;
  font-size: 2rem;
  width: 93.5%;
  margin-left: 1rem;
}
  
  /* Add styles to the form container */
  .form-container {
    width: 100%;
    height: 900px;
    background-color: #A7C7E7;
    overflow: hidden;
    position: relative;
  }
  
.form-container .element {
    display: block;
    margin-left: 2%;
    font-size: 2rem;
}
  textarea { font-size: 30px; }
  input { font-size: 30px; }
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  /*Check color of x when hover */
  .close:hover {
    background-color: #f44336;
    color: white;
  }


.user-input {
  font-size: 3rem; 
}

#ing{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#recipeContainer {
  overflow: scroll;
  height: 111rem;
}