* {
    font-family: monaco, Consolas, Lucida Console, monospace;
}


#header {
    font-size: 8rem; 
    margin-left: 2%;
    margin-bottom:10%;
    display: inline;
}
body {
    background-color: #faeee7;
}

/* CSS */
.addRecipe {
    border: 5px solid #222222;
    border-radius: 6px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem; /* Use vw unit for font size based on viewport width */
    font-weight: 600;
    line-height: 2%; /* Use vh unit for line-height based on viewport height */
    margin: 0;
    outline: none;
    padding: 4.5%; /* Use vw and vh units for padding based on viewport width and height */
    position: relative;
    text-align: center;
    background-color: #A7C7E7;
}

#recipe {
    background-color: #A7C7E7;
    border: 5px solid #222222;
    border-radius: 6px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 3rem; /* Adjust font size as per your design */
    font-weight: 500;
    outline: none;
    position: relative;
    text-align: center;
    width: 100%; /* Set a specific width for the box */
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    margin-top:5%;
    vertical-align: top; /* Align the text to the top of the box */
}

.text-container {
    flex: 1; /* Allow the text container to grow and take available space */
    padding: 5%; /* Adjust the padding for the text content */
    display: block;
}
  
.text-container.remove
{
    display: none;
}


.description-text {
    display: none;
}
.description-text.show {
    flex: 1;
    text-align: center; 
    display: block;
    font-size: 2rem;
}



.navbar {
  background-color: #A7C7E7;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.navbar img {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 45px;
}

.form-popup {
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #222222;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 100%;
    height: 500px;
    background-color: #A7C7E7;
    overflow: hidden;
    position: relative;
  }
  
.form-container .element {
    display: block;
    margin-left: 2%;
}
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    height: 15%;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0%;
    opacity: 0.8;
    position: relative;
    bottom: 0;
    margin-top: 5%;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
    color: white;
    height: 15%;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0%;
    opacity: 0.8;
    position: relative;
    bottom: 0;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  /*Check color of x when hover */
  .close:hover {
    background-color: #f44336;
    color: white;
  }

