* {
    font-family: monaco,Consolas,Lucida Console,monospace;;
}
body {
    background-color: #faeee7;
}

.navbar {
    background-color: #A7C7E7;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar img {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 45px;
}
#header {
    font-size: 4rem;
    padding: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.widget {
    background-color: #fffffe;
    font-size: 2rem;
}

.widgetcolor {
    background-color: #A7C7E7;
    padding:8px;
}

.halfwid1 {
    background-color: #fffffe;
    font-size: 2rem;
    flex: 49%;
}

.halfwid2 {
    background-color: #fffffe;
    font-size: 2rem;
    flex: 49%;
}
.content{
    background-color: #fffffe;
}

.widgetcolor p {
    /* padding: 2px; */
    padding-left: 1rem;
    color: #33272a;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#add-item {
    font-size: 2rem;
    margin-left: 13rem;
    text-align: center;
    padding-right: 1.1rem;
}

#shopping-list {
    font-size: 1.5rem;
}

.notes {
    font-size: 2rem;
    float: right;
    margin-top: 0.55rem;
}

.list-item {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    margin-bottom: 1rem;
    border-radius: 1.7rem;
    padding: 1rem;
}

.button {
    background-color: #A7C7E7;
    height: 3.4rem;
    width: 10rem;
    float: right;
    display: flex;
    justify-content: center;
}

.left-half {
    width: 50%;
    display: flex;
}

.right-half {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.p-buttons {
    width: 14rem;
    height: 9rem;
    font-size: 3rem;
}

#pop-up {
    position: fixed;
    height: 50rem;
    width: 40rem;
    top: 25%;
    left: 15.4%;
    background-color: #A7C7E7;
    border-color: #fffffe;
    border-width: 1rem;
    border-style: solid;
    border-radius: 2rem;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#pop-up-prompt {
    font-size: 3rem;
    text-align: center;
    margin-top: 6rem;
}

#pop-up-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
}

#name-input {
    height: 6rem;
    margin-top: 6.5rem;
    font-size: 3rem;
    width: 93.5%;
}

input {
    margin-left: 1rem;
    margin-right: 2rem;
}

input[type="checkbox"] {
    width: 80px;
}

label {
    overflow: auto;
}



